
{% extends 'admin.html' %}
{% block title %} Job {% endblock %}
{% block content %}
   <h2>Job Page</h2>
   <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ emp.title }}</td>
            </tr><tr>
                <th>Phone</th>
                <td>{{ emp.phoneNumber }}</td>
            </tr><tr>
                <th>Email</th>
                <td>{{ emp.email }}</td>
            </tr> <tr>
                <th>Location</th>
                <td>{{ emp.location }}</td> 
            </tr>
        </tbody>
        </table>
   {% endblock%}
